/* ================================
    TL;DR  --> styling for cards in "faq" section
    
================================ */
<<<<<<< HEAD

.faq-card {
    height: 400px;
    width: 75%;
    background-color: white;
}
=======
>>>>>>> main
