/* ================================
    TL;DR  --> styling for cards in "faq" section
    
================================ */
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> main

.faq-card {
    height: 400px;
    width: 75%;
    background-color: white;
<<<<<<< HEAD
}
=======
}
=======
>>>>>>> main
>>>>>>> main
