/* ================================
  TL;DR  -->  contains global css styking for entire app

      - spacing and 
================================ */

:root {
  /* Global spacing (between components) */
:root {
  /* Global spacing (between components) */
  --space-global-xs: 20px;
  --space-global-sm: 24px;
  --space-global-md: 32px;
  --space-global-lg: 40px;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

