:host {
  display: block;
  width: 100%;
  font-family: var(--font-default);
  font-size: var(--font-size-xsmall);
}

/* Main container */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid var(--color-gray-05);

  padding: 30px 20px; /* 30 vertical, 20 horizontal */
}

/* Left side */
.footer-left {
  display: flex;
  align-items: center;
  gap: 20px; /* space between logo and links */
}

.footer-logo {
  width: 79px;
  height: 30px;
}

/* Links */
.footer-links {
  display: flex;
  gap: 20px; /* space between Privacy & Terms */
}

/* Right side */
.footer-right {
  display: flex;
  align-items: center;
  gap: 4px; /* space between © and text */
}

.footer-copyright {
  color: var(--color-gray-02);
}

/* Links */
a {
  color: var(--color-teal-dark-secondary);
}

a:hover {
  color: var(--color-teal-dark-hover);
}
