/* ================================
  TL;DR  -->  styling for the very bottom section of Aon's mockup
================================ */
/* Files: footer.css, faq-card.css, etc.
Selectors: :host, internal classes */


/* ======================================================
  aon-footer styles

  Rules:
  - NO @import
  - NO global selectors
  - ONLY CSS variables from :root
  - :host is the boundary
====================================================== */

/* ---- Host boundary ---- */
:host {
  display: block;
  width: 100vw;
  /* Typography must be re-declared in Shadow DOM */
  font-family: var(--font-default);
  font-size: var(--font-size-xsmall);
}

.footer-content{
  display: flex;
  border-top: 1px solid var(--color-gray-05);
  margin-top: 150px;
  padding: 20px 40px;
}
/* left side */
.footer-logo {
  width: 79px;
  height: 30px;
  padding: 20px 30px 30px 20px;
}
.footer-links{
  display: flex;
  align-items: center;
}

/* right side */
.copyright-icon{
  line-height: var(--line-height-xsmall);
}

.footer-copyright{
  padding: 40px 4px 24px 20px;
  color: var(--color-gray-02);
  
}
.privacy, .terms{
padding: 40px 20px 24px 20px;
}

/* Link Styling */
a {
  color: var(--color-teal-dark-secondary);
}

a:hover {
  color: var(--color-teal-dark-hover);
}