# EXAMPLE environment file  -->  placeholder values only
# contains all the keys & secrets naming so that this project can be replicated locally 


# server runs here
SERVER_PORT=4000


# Database variables

# Dev DB  -->  server uses this to connect to the local postgres database
# you will need to URL-encode the password  -->  ex: ! becomes %21
DATABASE_URL=postgres://username:password@localhost:5432/aon-cyqu-trust-center

# Hosted DB  -->  supabase configuration
VITE_SUPABASE_URL=https://your-project-ref.supabase.co
VITE_SUPABASE_KEY=your_anon_key_goes_here
# VITE_SUPABASE_SERV_ROLE=your_service_role_key_goes_here


# stretch  -->  AI + LLM + RAG

# LLM_PROVIDER=openai  # llm selection

# paid (OpenAI)
# OPENAI_API_KEY=Replace_Me
# OPENAI_MODEL=gpt-5-nano  # cureently the chaepest

# free (openrouter)
# OPENROUTER_API_KEY=Replace_Me
# OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
# OPENROUTER_MODEL=meta-llama/llama-3.3-70b-instruct:fr  # example free model

# embedings
# EMBED_MODEL=Xenova/all-MiniLM-L6-v2  # locally  -->  transformers.js model id

# vector DB for RAG
# PINECONE_API_KEY=Replace_Me
# PINECONE_INDEX=aon-cyqu-trust-center
# PINECONE_NAMESPACE=dev