/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  TL;DR  -->  Styling for the header which will be the very top of Aon's mockup page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Header Formatting */

/* Removing margin and padding to accomodate a flush header */
html,body {
  margin: 0;
  padding: 0;
}

/* Formatting for the text */
.product-title-text {
  font-family: var(--font-default);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xxlarge);
  line-height: var(--line-height-large);
  color: var(--color-gray-01);
  margin: 20px 40px 20px 20px;
}

/* Formatting for the background */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white; 
  border-bottom: 0.2px solid var(--color-gray-08);
  box-shadow:  0 2px 4px 0 rgba(0,0,0,0.25);
  height: 64px;
  width: 100vw;
}

/* Formatting for the Login Container  */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px 10px 10px;
  height: 44px;
  width: 44px;
}

/* Login Container Hover */
.login-container:hover {
  cursor: pointer;
}

/* Formatting for the Login Icon */
.login-icon svg {
  width: 30px;
  height: 44px;
}












