/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  TL;DR  -->  Styling for the Subnav card
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Subnav card Formatting */

/* Sizing for the Subnav card */
:host {
  display: block;
  width: 260px;
  margin: 20px auto;
}

.subnav-card {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  border-top: 4px;
  width: 260px;
  padding-bottom: 0.5px;
}

/* Default Nav Links inspired by the Rail Navigation Design System Page */
.subnav-card-links {
  list-style: none;
}

.subnav-card-links a {
  font-family: var(--font-default);
  text-decoration: none;
  font-size: var(--font-size-small);
  color: var(--color-teal-dark-secondary);
  padding-left: 10px;
}

.subnav-card-links li {
  height: 17px;
  padding-bottom: 15px;
}

/* Active Nav Link inspired by the Rail Navigation Design System Page */
.subnav-card-links a:active {
  font-family: var(--font-default);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  color: var(--color-teal-dark-active);
  border-left: 2.5px solid;
  border-color: var(--color-teal-dark-active);
}

/* Subnav card links hover feature */
.subnav-card-links a:hover {
  color: var(--color-teal-dark-hover);
}

/* Formatting for the Title -> 'Categories`*/
.subnav-card-title {
  padding: 20px 33px 5px;
  color: var(--color-navy);
  font-size: var(--font-size-xlarge);
  font-family: var(--font-default);
  font-weight: var(--font-weight-bold);
}

