/* ================================
  TL;DR  -->  styling for the subnav
================================ */



/* subnav card */
.subnav-card {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  border-top: 4px;
  width: 100vw;
}
/* .subnav-card-links:hover {
  background-color: var(--color-gray-07);
} */

/* subnav links */
.subnav-card-links {
  list-style: none;
  font-size: var(--font-size-xsmall);
  line-height: var(--line-height-xsmall);
  
  
}

.subnav-card-links a {
  text-decoration: none;
  font-size: var(--font-size-small);
  color: var(--color-teal-dark-secondary);
  /* text-transform: uppercase; */
}

/* .subnav-card-links a: hover {

} */

.subnav-card-title {
  color: var(--color-navy);
  font-size: 
  font-family: var(--font-default);
}

